.container {
  display:grid;
  justify-content: space-between;
  grid-template-columns: 1fr 1fr 1fr;
  padding-top: 10px;
}

footer{
  display: grid;
  width: 100%;
  background-color: black;
  color: white;
  font-size: 15px;
  text-align: center;
  justify-items: center;
}

.carrito{
  padding-top: 60px;
  padding-bottom: 60px;
}

.container-fluid{
  justify-content: center;
}

.detalleCarrito{
  display: flex;
  justify-content: space-between;
  width: 50%;
}